$w: #FFFFFF;
$up: uppercase;

body {
  font-family: 'e-Ukraine'; 
}
body.noscroll {
  overflow: hidden;
}

.container {
  margin: auto;
  width: 90%;
}
.d-flex {
  display: flex;
}
//header begin
.header {
  background-color: #0000004D;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}
.container_header {
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.menu {
  width: 50%;
  justify-content: space-between;

  @media (max-width: 900px) {
    width: 54%;
  }

  a {
    color: $w;
    font-weight: 200;
    font-size: 14px;
    line-height: 18.2px;
    text-transform: uppercase;
    text-decoration: none;
  }
  @media (max-width: 725px) {
    display: none;
  }
}
.header--icon_group {
  flex-direction: row;
  img {
    &:last-child {
      margin-left: 25px;
    }
  }
  @media (max-width: 725px) {
    display: none;
    margin-right: 25px;
    &.iqon_active {
      display: block;
    }
  }

}

// Burger menu start

.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: 0;
  font-size: 0px;
  span {
    display: block;
    position: absolute;
    top: 12px;
    left: 2px;
    right: 2px;
    height: 2px;
    background: #FFFFFF;
    opacity: 80%;
  
    &::after, &::before {
      display: block;
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #FFFFFF;
      content: "";
    }
    &::after {
      top: -6px;
    }
    &::before {
      top: 6px;
    }
    
  }
  
  &:focus {
    outline: none;
  }

  @media (max-width: 725px) {
    display: block;
  }  
}


.hamburger-line {
  span {
    &::before, &::after {
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3, 0s;
    }
    &::before {
      transition-property: top, transform;
    }
    &::after {
      transition-property: bottom, transform;
    }
  }
  &.is-active {
    span {
      background: none;
      &::before {
        top: 0;
        transform: rotate(-45deg);
      }
      &::after {
        top: 0;
        transform: rotate(45deg);
      }
      &::before, &::after {
        transition-delay: 0s, 0.3s;
      }
    }
  }
}

//header end

//section_first begin

.section_first {
  padding: 49.9px 0 71px 0;
  background-image: url(../../dist/images/bg1.jpg);
  background-size: cover;
  position: relative;
  @media (max-width: 836px) {
    padding: 1185px 0 0 0;
    background-image: url(../../dist/images/bg2.png);
  }
  @media (max-width: 725px) {
    background-image: url(../../dist/images/bg3.png);
    padding: 846px 0 0 0;
  }
}
.section_first--central_block {
  margin-left: 12%;
  width: 654px;
  z-index: 2;
  position: relative;
  @media (max-width: 836px) {
    position: absolute;
    top: 300px;
    left: -40px;
  }
  @media (max-width: 725px) {
    width: 400px;
    width: 360px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 206px;
    margin-left: 0;

    &.burger-active {
      display: none;
    }
  }
  
  h1 {
    text-transform: $up;
    font-weight: 300px;
    font-size: 100px;
    line-height: 130px;
    letter-spacing: 10%;
    color: $w;
    margin-top: 160px;
    z-index: 2;
    position: relative;
    @media (max-width: 900px) {
      font-size: 80px;
    }
    @media (max-width: 836px) {
      font-size: 42px;
      line-height: 54.6px;
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $w;
    width: 358px;
    margin: 30px 0;
  }
}
.button_green {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 52px;
  background-color: #009688;
  width: 360px;
  border: none;
  font-family: 'e-Ukraine';
  cursor: pointer;
  &:hover {
    background-color: #00796B;
  }
  @media (max-width: 836px) {
    line-height: 42px;
    width: 342px;
  }
  @media (max-width: 725px) {
    margin: 0 auto;
    display: block;
  }
}
.obvertka {
  justify-content: end;
}
.section_first--description_block {
  padding: 12px 16px;
  margin-top: 97px;
  width: 49%;
  min-width: 460px;
  justify-content: space-between;
  background-color: #C8C8C833;
  position: relative;
  z-index: 2;
  @media (max-width: 836px) {
    position: absolute;
    top: 986px;
    left: 0%;
    width: 100%;
    padding: 12px 62px;
  }
  @media (max-width: 725px) {
    background-color: transparent;
    min-width: auto;
    flex-wrap: wrap;
    width: 342px;
    padding: 0;
    margin-top: 0;
    div {
      width: 159px;
      height: 159px;
      background-color: #C8C8C833;
      &:first-child {
        margin-right: 24px;
        margin-bottom: 24px;
      }
    }
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 640px;

    &.burger-active {
      display: none;
    }
  }
   
  h2 {
    color: $w;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    @media (max-width: 725px) {
      margin-top: 45px;
    }
  }
  p {
    color: $w;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    text-align: center;
  }
}
.section_first--line_y {
  width: 1px;
  height: 490px;
  background-color: #FFFFFF66;
  position: absolute;
  top: 100px;
  z-index: 2;
  @media (max-width: 836px) {
    display: none;
  }
}
.section_first--line_x {
  width: 27%;
  height: 1px;
  background-color: #FFFFFF66;
  position: absolute;
  top: 648px;
  left: 21%;
  z-index: 2;

  @media (max-width: 1060px) {
    width: 16%;
    left: 27%;
  }
  @media (max-width: 930px) {
    width: 10%;
    left: 27%;
  }
  @media (max-width: 836px) {
    display: none;
  }
}
.section_first--line_x2 {
  width: 33px;
  height: 1px;
  background-color: #FFFFFF66;
  position: absolute;
  top: 648px;
  left: 95.7%;
  z-index: 2;
  @media (max-width: 836px) {
    display: none;
  }
}
.see_more {
  align-items: center;
  position: absolute;
  top: 636px;
  left: 5.2%;
  z-index: 2;
  @media (max-width: 836px) {
    display: none;
  }
  p {
    color: $w;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
    line-height: 18px;
    margin-left: 6px;
  }
}
.block_transparent {
  width: 45%;
  height: 771px;
  position: absolute;
  background-color: #544C394D;
  top: 0;
  left: 0;
  z-index: 1;
  @media (max-width: 836px) {
    height: 1182px;
  }
  @media (max-width: 725px) {
    display: none;
  }
}
.popup {
  display: none;
  @media (max-width: 725px) {
    position: fixed;
    top: 53px;
    left: -100%;
    width: 100%;
    height: 793px;
    background-color: #0000001A;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    &.open {
      left: 0;
    }
  }
}
.menu_popup {
  margin-top: 267px;
  margin-left: 7%;
  a {
    text-decoration: none;
    color: $w;
    font-size: 28px;
    line-height: 36.4px;
    font-weight: 400;
  }
  li {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//Section second

.section_second {
  background-color: #212121;
  padding-bottom: 100px;
  padding-top: 10px;
  @media (max-width: 836px) {
    padding-top: 100px;
  }
  @media (max-width: 813px) {
    padding: 50px 0 50px 0;
  }
}
.section_second--rectangle {
  height: 90px;
  background-color: #D9D9D9;

  @media (max-width: 836px) {
    display: none;
  }
}
.section_second--title {
  text-transform: uppercase;
  color: $w;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  @media (max-width: 813px) {
    font-size: 20px;
    line-height: 30px
  }
}
.section_second--list {
  margin-top: 50px;
  margin-bottom: 60px;
  position: relative;

 @media (max-width: 836px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 127px;
 } 
 @media (max-width: 813px) {
  justify-content: center;
 } 
  @media (max-width: 813px) {
    margin-bottom: 30px;
 }
}
.number-item {
  position: absolute;
  p {
    color: #009688;
    font-size: 20px;
    line-height: 30px;
  }
  div {
    width: 550px;
    height: 1px;
    background-color: #FFFFFF66;
    margin-top: 10px;
    @media (max-width: 836px) {
      width: 340px;
    }
  }
}
.number01 {
  left: 100px;
  @media (max-width: 836px) {
    left: 0;
    top: -70px;
  }
  @media (max-width: 813px) {
    top: -75px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.number02 {
  left: 100px;
  @media (max-width: 836px) {
    left: 51%;
    top: -70px;
  }
  @media (max-width: 813px) {
    top: 195px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.number03 {
  left: 100px;
  @media (max-width: 836px) {
    left: 0;
    top: 164px;
  }
  @media (max-width: 813px) {
    top: 440px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.number04 {
  left: 100px;
  @media (max-width: 836px) {
    left: 51%;
    top: 164px;
  }
  @media (max-width: 813px) {
    top: 714px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} 
.item {
  justify-content: end;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 836px) {
    justify-content: start;
    max-width: 358px;
    &:first-child {
      margin-bottom: 111px;
    }
  }
  @media (max-width: 813px) {
    &:nth-child(1) {
      margin-bottom: 150px;
    }
    &:nth-child(2) {
      margin-bottom: 150px;
    }
    &:nth-child(3) {
      margin-bottom: 150px;
    }
  }
}
.discription-item {
  width: 39%;
  margin-right: 128px;
  h3 {
    color: $w;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  h6 {
    color: $w;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    opacity: 70%;
  }

  @media (max-width: 836px) {
    width: 100%;
    margin-right: 0;
  }
    
  }

.button_transparent {
  color: $w;
  font-size: 16px;
  line-height: 54px;
  font-weight: 400;
  width: 360px;
  background: transparent;
  border: 1px solid $w;
  cursor: pointer;
  &:hover {
    border: 1px solid #009688;
  }
  margin: 0 auto;
  display: block;
  
  @media (max-width: 813px) {
    width: 341px;
  }
}

//section second end

//section third begin

.section_third {
  background-color: #212121;
  padding-bottom: 100px;
}
.title_container {
  align-items: center;
  margin-bottom: 50px;
  p {
    color: $w;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
  }
  .title_container--line {
    height: 1px;
    width: 100%;
    background-color: #FFFFFF66;
    margin-left: 25px;
  }
}
.section_third--price {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}
.price_section {
  width: 360px;
  h2 {
    margin: 20px 0;
    color: $w;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
.card {
  width: 360px;
  height: 360px;
  align-items: flex-end;
}
.card_bg_1 {
  background-image: url(../../dist/images/price1.png);
}
.card_bg_2 {
  background-image: url(../../dist/images/price2.jpg);
}
.card_bg_3 {
  background-image: url(../../dist/images/price3.png);
}
.card_bg_4 {
  background-image: url(../../dist/images/price4.png);
}
.card_bg_5 {
  background-image: url(../../dist/images/price5.jpg);
}
.card_bg_6 {
  background-image: url(../../dist/images/price6.jpg);
}
.card_footer {
  background-color: #6A6A6A33;
  width: 360px;
  height: 50px;
  p {
    color: $w;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    margin-left: 10px;
  }
}
.value {
  justify-content: space-between;
  align-items: center;
  h3 {
    color: $w;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  button {
    line-height: 40px;
    width: 170px;
    background-color: #009688;
    border: none;
    color: $w;
    &:hover {
      background-color: #00796B;
    }
  }
}

@media (max-width: 500px) {
  .section_third {
    padding-bottom: 60px;
  }
  .price_section {
    width: 342px;
}
  .card {
    width: 342px;
    height: 342px;
  }
}

//section third end

//section fourth start

.section_fourth {
  background-color: #212121;
  padding: 100px 0;
  justify-content: center;
}
.container-section_fourth {
  width: 950px;
  height: 711px;
  position: relative;
}
.section_fourth--rectangle {
  width: 360px;
  height: 640px;
  background-color: #B2DFDB;
  margin-top: 10px;
}
.section_fourth--discription {
  width: 455px;
  position: absolute;
  top: 0;
  right: 0;
  h2 {
    color: $w;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  h3 {
    color: $w;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
  }
  p {
    color: $w;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    margin-top: 10px;
  }
  h4 {
    color: $w;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 40px;
  }
}
.img_mirror {
  width: 360px;
  height: 640px;
  background-image: url(../../dist/images/miror.jpg);
  font-size: cover;
  position: absolute;
  left: 20px;
  top: 30px;
}
.img_lamp {
  width: 740px;
  height: 360px;
  background-image: url(../../dist/images/lamp.png);
  font-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: flex-end;
  ul {
    width: 100%;
    background-color: #0000001A;
    justify-content: space-around;
    align-items: flex-end;
    li {
      color: $w;
      font-weight: 400;
      font-size: 20px;
      line-height: 100px;
      text-transform: uppercase;
    }

  }
}
@media (max-width: 990px) {
  .container-section_fourth {
    width: 752px;
    height: 773px;
  }
  .section_fourth--rectangle {
    display: none;
  }
  .img_mirror {
    width: 360px;
    height: 360px;
    background-image: url(../../dist/images/mimilamp.png);
    top: 0;
    left: 0;
  }
  .section_fourth--discription {
    width: 360px;
    left: 0;
    bottom: 0;
    top: auto;
  }
  .img_lamp {
    width: 360px;
    height: 770px;
    right: 0;
    bottom: auto;
    background-image: url(../../dist/images/lampppp.jpg);
    align-items: center;
    justify-content: center;
    ul {
      width: 290px;
      height: 290px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      li {
        line-height: 75px;
      }
    }
  }
}
@media (max-width: 782px) {
  .section_fourth {
    padding: 60px 0;
  }
  .container-section_fourth {
    width: 342px;
    height: 1341px;
  }
  .img_lamp {
    width: 342px;
    height: 342px;
    background-image: url(../../dist/images/lamp342.jpg);
    top: 0;
    right: auto;
    ul {
      position: absolute;
      top: 923px;
    }
  }
  .section_fourth--discription {
    width: 342px;
    left: auto;
    bottom: auto;
    top: 378px;
  }
  .img_mirror {
    width: 342px;
    height: 548px;
    bottom: 0;
    top: auto;
    left: auto;
    background-image: url(../../dist/images/miror390.jpg);
  }
}

//section fourth end

//section fifth begin

.section_fifth {
  background-color: #212121;
  padding-bottom: 100px;
}
.section_fifth--price_list {
  width: 100%;
  flex-wrap: wrap;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  margin: auto;

  a {
    text-decoration: none;
    color: $w;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    transition-duration: 0.5s;
    &:hover {
      font-size: 40px;
      line-height: 50px;
      text-decoration: underline;
    }
  }
}

.price_card_1 {
  width: 740px;
  height: 360px;
  background-image: url(../../dist/images/section5_1.jpg);
  align-items: flex-end;
  p {
    margin: 0 0 30px 20px;
  }

  &:hover {
    background: linear-gradient(#21212180), url(../../dist/images/section5_1.jpg);
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }
  }
}
.price_card_2 {
  width: 360px;
  height: 360px;
  background-image: url(../../dist/images/section5_2.jpg);
  align-items: flex-end;
  p {
    margin: 0 0 30px 20px;
  }
  &:hover {
    background: linear-gradient(#21212180), url(../../dist/images/section5_2.jpg);
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }
  }
}
.price_card_3 {
  width: 360px;
  height: 360px;
  background-image: url(../../dist/images/section5_4.jpg);
  align-items: flex-end;
  p {
    margin: 0 0 30px 20px;
  }
  &:hover {
    background: linear-gradient(#21212180), url(../../dist/images/section5_4.jpg);
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }
  }
}
.price_card_4 {
  width: 740px;
  height: 360px;
  background-image: url(../../dist/images/section5_5.jpg);
  align-items: flex-end;
  p {
    margin: 0 0 30px 20px;
  }
  &:hover {
    background: linear-gradient(#21212180), url(../../dist/images/section5_5.jpg);
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }
  }
}

@media (max-width: 858px) {
  .price_card_1 {
    width: 724px;
    height: 360px;
  }
  .price_card_2 {
    width: 350px;
    height: 350px;
  }
  .price_card_3 {
    width: 350px;
    height: 350px;
  }
  .price_card_4 {
    width: 724px;
    height: 360px;
  }
}

@media (max-width: 836px) {
  .section_fifth--price_list {
    a {
      &:hover {
        font-size: 20px;
        line-height: 25px;
        text-decoration: none;
      }
    }
  }
  .price_card_1 {
    &:hover {
      align-items: flex-end;
      justify-content: start;
      p {
        margin: 0 0 30px 20px;
      }
    }
  }
  .price_card_2 {
    &:hover {
      align-items: flex-end;
      justify-content: start;
      p {
        margin: 0 0 30px 20px;
      }
    }
  }
  .price_card_3 {
    &:hover {
      align-items: flex-end;
      justify-content: start;
      p {
        margin: 0 0 30px 20px;
      }
    }
  }
  .price_card_4 {
    &:hover {
      align-items: flex-end;
      justify-content: start;
      p {
        margin: 0 0 30px 20px;
      }
    }
  }
}
@media (max-width: 835px) {
  .price_card_1 {
    width: 350px;
    height: 350px;
  }
  .price_card_4 {
    width: 350px;
    height: 350px;
  }
  .section_fifth {
    padding-bottom: 60px;
  }
}

//section fifth end 

//section sixth begin
.section_sixth {
  background-color: #212121;
  padding-bottom: 100px;
}
.section_sixth--container {
  margin: auto;
  width: 90%;
  height: 740px;
  position: relative;
  z-index: 1;
}
.section_sixth--text_block {
  h2 {
    color: $w;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  h3 {
    color: $w;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  h4 {
    color: $w;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }
}
.img_chair {
  background-image: url(../../dist/images/section_6stul.jpg);
  width: 360px;
  height: 740px;
  position: absolute;
  right: 0;
  top: 0;
}
.img_flower {
  background-image: url(../../dist/images/section_6cvetok.jpg);
  width: 360px;
  height: 360px;
  position: absolute;
  bottom: 0;
  right: 384px;
}
.rectangle_opacity {
  width: 360px;
  height: 360px;
  border: 30px solid #ADACAC33;
  position: absolute;
  right: 429px;
  bottom: 49px;
}
.rectangle_green {
  width: 360px;
  height: 360px;
  border: 30px solid #B2DFDB;
  position: absolute;
  right: 274px;
  bottom: 237px;
  z-index: -1;
}
@media (max-width: 1100px) {
  .section_sixth--container {
    height: 813px;
  }
  .img_chair {
    display: none;
  }
  .img_flower {
    bottom: auto;
    right: 0;
    top: 34px;
  }
  .rectangle_opacity {
    right: 176px;
    bottom: 127px;
  }
  .rectangle_green {
    right: 57px;
    bottom: 0px;
  }
}
@media (max-width: 815px) {
  .section_sixth--container {
    height: 844px;
  }
  .section_sixth {
    padding-bottom: 60px;
  }
  .section_sixth--text_block {
    h2 {
      font-size: 20px;
      line-height: 25px;
    }
    h3 {
      font-size: 16px;
      line-height: 24px;
    }
    h4 {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .img_flower {
    width: 342px;
    height: 342px;
    bottom: auto;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .rectangle_opacity {
    width: 342px;
    height: 342px;
    left: -6%;
    right: auto;
    bottom: 127px;
  }
  .rectangle_green {
    width: 342px;
    height: 342px;
    right: -6%;
    bottom: 0px;
  }
}

//section sixth end

//section secenth start
.FW200 {
  color: $w;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
}
.section_seventh {
  background-color: #212121;
  padding-bottom: 100px;
}
.section_seventh--top {
  h2 {
    color: $w;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}
.section_seventh--top_wrapper {
  justify-content: space-between;
  margin-bottom: 50px;
  a {
    color: #009688;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
}
.section_title {
  width: 360px;
  height: 265px;
  color: $w;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex-direction: column;
  justify-content: space-between;
}
.section_discriprtion {
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 265px;
  align-items: flex-end;
  img {
    width: 20px;
    height: 20px;
    margin-right: 65px;
  }
}
.general_block--section {
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #FFFFFF66;
  margin-bottom: 30px;
}
.data {
  font-weight: 200;
  font-size: 12px;
  line-height: 18px;
}
.white-line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF66;
  margin-bottom: 60px;
}
@media (max-width: 1230px) {
  .section_seventh--top_wrapper {
    flex-direction: column;
    width: 359px;
    p {
      margin-bottom: 20px;
    }
  }

  .general_block--section {
    padding-bottom: 30px;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #FFFFFF66;
    width: 362px;
    height: 678px;
    &:nth-child(3) {
      display: none;
    }
    img {
      width: 360px;
    }
  }
  .section_discriprtion {
    img {
      width: 20px;
      margin: 0;
    }
  }
  .section_seventh--general_block {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 30px;
    justify-content: center;
  }
  .data {
    position: absolute;
    bottom: 30px;
  }
  .section_title {
    height: 73px;
  }
  .white-line {
    display: none;
  }
}
@media (max-width: 835px) {
  .general_block--section {
    img {
      width: 342px;
    }
    width: 342px;
  }
  .button_transparent {
    width: 342px;
  }
  .section_title {
    width: 342px;
  }
  .section_discriprtion {
    width: 342px;
    img {
      width: 20px;
    }
  }
  .section_seventh {
    padding-bottom: 60px;
  }
}

//section seventh end

//footer start

footer {
  background-color: #212121;
  padding-top: 90px;
}
.footer--general_block {
  justify-content: space-around;
}
.footer--map {
  width: 646px;
  height: 480px;
  background-image: url(../../dist/images/map.jpg);
}
.footer--input_block {
  width: 361px;
  h2 {
    color: $w;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.form {
  width: 361px;
  font-weight: 200;
  font-size: 16px;
  line-height: 50px;
  color: #FFFFFF99;
  margin-top: 30px;
}
.form_group {
  margin-bottom: 30px;
}
.form_label {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #FFFFFF99;
  transition: 0.3s;
}
.form_input {
  position: relative;
  border: 1px solid #FFFFFF99;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  width: 100%;
  font-weight: 200;
  font-size: 16px;
  line-height: 50px;
  color: #FFFFFF99;
  padding-left: 15px;
}
.shirt {
  width: 265px;
}
.footer--bottom {
  padding: 30px 0 60px 0;
  align-items: center;
  justify-content: space-around;
  p {
    color: $w;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
.logo {
  width: 124px;
  height: 34px;
}
.catalog {
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
}
.blog {
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
}
.contacts {
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  width: 132px;
  justify-content: space-between;
}
.bottom--line {
  background-color: #3D3D3D;
  color: $w;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  p {
    width: 90%;
    margin: auto;
  }
}
.footer_wrapper {
  flex-direction: column;
}
.logo2 {
  display: none;
}
@media (max-width: 1151px) {
  .footer--general_block {
    flex-direction: column;
    justify-content: center;
    width: 754px;
  }
  .footer_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer--map {
    width: 754px;
    background-image: url(../../dist/images/map2.jpg);
  }
  .footer--input_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
  }
  .text--wrupper {
    width: 354px;
  }
  .form {
    margin-top: 0;
  }
  .shirt {
    width: 360px;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
    width: 105px;
    height: 24px;
  }
  .bottom--line {
    p {
      width: 100%;
      margin: 0;
    }
  }
  .line--wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }
  .icons {
    width: 24px;
    height: 92px;
    flex-direction: column;
    align-items: center;
  }
  .footer--bottom {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 835px) {
  .footer--general_block {
    align-items: center;
    width: 100%;
  }
  .footer--map {
    width: 342px;
    height: 568px;
    background-image: url(../../dist/images/map3.jpg);
  }
  .footer--input_block {
    flex-direction: column;
    align-items: center;
  }
  .text--wrupper {
    margin-bottom: 30px;
  }
  .logo2 {
    display: none;
  }
  .logo {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 0;
  }
  .footer--bottom {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    padding-bottom: 96px;
  }
  .icons {
    position: absolute;
    width: 152px;
    height: 25px;
    flex-direction: row;
    left: 0;
    bottom: 30px;
  }
  .contacts {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .text--wrupper {
    width: 342px;
  }
  .form {
    width: 342px;
  }
  .shirt {
    width: 342px;
  }
}

// Footer end